.env
.editorconfig
.git/
.github/
.gitattributes
.gitignore
.dockerignore
.phpstorm.meta.php
.phpunit.result.cache
.styleci.yml
_ide_helper.php
phpunit.xml
docker-compose.yml
Dockerfile-dev
Dockerfile-php
Dockerfile-nginx
vendor/
node_modules/
storage/app/config/*.conf
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing
storage/framework/views/*
storage/debugbar/
storage/logs/*
bootstrap/cache/*.php
database/factories
database/seeders
tests/
resources/css/
resources/js/
resources/img/
/public/assets/
/public/img/
/public/livewire/
/public/mix-manifest.json
